{% extends 'frontend-base.html.twig' %}

{% block body %}
    <div class="page-header smaller parallax custom text-center" style="background-image:url({{ urlThemeWebsite }}/images/page-header-bg.jpg)" data-0="background-position:50% 50%;" data-top-bottom="background-position:50% 100%">
        <div class="container-fluid">
            <h1>Registrar</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h2 class="title dark">Seja <span class="light text-custom2">Nosso Cliente</span></h2>

                {% if conteudo.descricao is defined  %}
                    {{ conteudo.descricao | raw }}
                {% endif  %}

                <form action="#" method="post" name="registrarForm" id="registrarForm" class="form-horizontal" role="form">
                    <input type="hidden" id="inputHiddenPathRegistrarForm" value="{{ path('usuario_registrar') }}" />
                    <div class="row">
                        <div class="col-md-6">
                            <label><span class="asterisco">*</span> Nome</label>
                            <input type="text" class="form-control input-sm" id="nome" name="nome" maxlength="100" placeholder="Nome" />
                        </div><!-- End .col-md-6 -->
                        <div class="row">
                            <div class="col-md-6">
                                <label><span class="asterisco">*</span> Email</label>
                                <input type="email" class="form-control input-sm" id="email" maxlength="255" name="email" placeholder="Email" />
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                            <div class="col-md-3">
                                <label><span class="asterisco">*</span> Login</label>
                                <input type="text" class="form-control input-sm" id="login" maxlength="100" name="login" placeholder="Login" />
                            </div><!-- End .col-md-6 -->
                            <div class="col-md-3">
                                <label><span class="asterisco">*</span> CPF</label>
                                <input type="text" class="form-control input-sm maskCpf" id="cpf" name="cpf" placeholder="CPF" />
                            </div><!-- End .col-md-6 -->
                        <div class="row">
                            <div class="col-md-3">
                                <label><span class="asterisco">*</span> Senha</label>
                                <input type="password" class="form-control input-sm" id="senha" name="senha" maxlength="10" placeholder="Senha" />
                            </div><!-- End .col-md-6 -->
                            <div class="col-md-3">
                                <label><span class="asterisco">*</span> Conferir Senha</label>
                                <input type="password" class="form-control input-sm" id="resenha" name="resenha" placeholder="Senha" />
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .row -->



                    <div class="mb10"></div><!-- margin -->

                    <input type="submit" class="btn btn-custom min-width" data-loading-text="Registrar..." value="Registrar">
                </form>
            </div><!-- End .col-md-8 -->

        </div><!-- End .row -->
    </div><!-- End .container-fluid -->


{% endblock %}

