{% extends folderEstrutura~'backend-base.html.twig' %}

{% block body %}

    <div id="main-container">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('principal') }}">Home</a>
                </li>
                <li> Administrar Conteúdo</li>
            </ul>
        </div><!--breadcrumb-->

            <div class="grey-container alinhaDireita">

            </div><!-- /grey-container -->


        <div class="padding-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="overview">
                            <div class="row">

                                <!-- COLUNA COM O FORM -->
                                <div class="col-md-12">

                                    {{ headerDataTable | raw }}

                                </div><!-- /.col -->
                                <!-- FIM DA COLUNA COM O FORM -->


                            </div><!-- /.row -->
                        </div><!-- /tab1 -->

                    </div><!-- /tab-content -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.padding-md -->
    </div><!-- /main-container -->
{% endblock %}
